/*Jose R*/
.logo{ /*logo section details */
    align-content: left;
}
.logo-edit{ /*Logo style*/
    /* put boxes together*/
    position: static;
    width: 650px;
    height: 300pxs;
    top: 1px;
    margin-left: 20px;
    margin-top: 0px;
    
}
#title1{ /*Subtitles properties and style*/
    text-align: left;
    font-weight: bold;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
    text-decoration: underline;
    background-color: rgba(15, 63, 139, 0.881);
    border-style: dotted 3px;
    border-radius: 15px;
    display: inline;
    padding: 20px;
    text-transform: uppercase;
    width: 210px;
    margin-left: 20px;
}
#title2{ /*Subtitles properties and style*/
    text-align: left;
    font-weight: bold;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
    text-decoration: underline;
    background-color: rgba(15, 63, 139, 0.881);
    border-style: dotted 3px;
    border-radius: 15px;
    display: inline;
    padding: 20px;
    text-transform: uppercase;
    width: 340px;
    margin-left: 20px;
}
#title3{ /*Subtitles properties and style*/
    text-align: left;
    font-weight: bold;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
    text-decoration: underline;
    background-color: rgba(15, 63, 139, 0.881);
    border-style: dotted 3px;
    border-radius: 15px;
    display: inline;
    padding: 20px;
    text-transform: uppercase;
    width: 250px;
    margin-left: 20px;
}
#container{
    
    width: 700px;
    height: 2000px;  
    border: 4px solid black;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;/*set content to mid not spacing */
    flex-direction: column;
    /*align-content: center; /*set all to center with no space all mid */
    margin-top: 90px;
    margin: 0 auto;
    

}
#p1{ /*About us / welcome style properties*/
    width: 30vw;
    height: 15vh;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
    background-color: rgba(32, 87, 175, 0.582);
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
    
}
#p2{ /*"How we started" description style */
    width: 30vw;
    height: 29vh;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
    background-color: rgba(32, 87, 175, 0.582);
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
}
.names{ /*Names for contact style */
    word-spacing: 240px;
    
}
.subname{ /*Second line constacts (emails) for contact style */
    word-spacing: 166px;
}

/*LUCERO*/
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 400%;
}

header {  /* Header style */
    background-color: #778da9;
    height: 85px;
    position: fixed;
    top: 0px;
    width: 100vw;
    left: 0px;
}

nav{  /*Nav bar all caps design*/
    padding: 2px;
    height: 60px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
