/*JR*/
.logo{
    align-content: center;
}
.title{
    text-align: left;
    font-weight: bold;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
    text-decoration: underline;
    background-color: rgba(32, 87, 175, 0.582);
    border-style: dotted 3px;
    border-radius: 15px;
    display: inline;
    padding: 20px;
    margin-bottom: 60px;

}
.text-review{
    text-align: left;
    font-weight: bold;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
}
.button{
    font-weight: bold;
    text-transform: capitalize;
    background-color: rgba(32, 87, 175, 0.582);
}

.main-form{
    background-color: rgb(32, 87, 175, 0.582);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 50px;

}