/*Jose R*/
nav{  /*Nav bar all caps design*/
    padding: 2px;
    height: 120px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(32, 87, 175, 0.582);
    display: flex;
    justify-content: center;/*set content to mid not spacing */
    align-content: center;
}
#title{
    display: flex;
    justify-content: center;/*set content to mid not spacing */
    align-content: center;
}


/*Text, Images, Comment Sections, Etc all moved to the right so there's room for the left nav bar*/
nav ul li {
    display: inline-block;
    margin: 10px 30px;
    list-style: none;
    background-color: rgba(32, 87, 175, 0.582);
    justify-content: center;/*set content to mid not spacing */
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;/*set content to mid not spacing */
    align-content: center;
}

h1{
    margin-left: 200px;
}

/*---------------------------*/

body{background-color: #e0e1dd;}
.container {
    overflow: auto; 
    margin-left: 100px;
    margin-right: 90px;
}
  
.text {
    float: left; /* Float text to the left */
    width: 60%; 
    background-color: rgba(85, 133, 210, 0.881);
    font-size: 30px;
    padding: 25px;
    border-radius: 10%;
    margin-top:80px ;
    
}
  
.image { /* first image */
    margin-left: 1790px; 
    width: 25%; 
    margin-right:480px;
    
}
  
.image img {
    height: auto;
    margin-top: 130px;
    width: 880px;  
    height: 600px;
    left: 19px;
    
}


.title{ /*Title style*/
    text-align: left;
    font-weight: bold;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
    text-decoration: underline;
    text-transform: capitalize;
    background-color: rgba(32, 87, 175, 0.582);
    border-style: dotted 3px;
    border-radius: 15px;
    display: inline;
    padding: 10px;
    margin-bottom: 60px;
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 25px;
    
}

.text-review{ /*Overall text style*/
    text-align: left;
    font-weight: bold;
    font-family:sans-serif, 'Times New Roman', Times, serif ;
}
.button{ /*button style */
    font-weight: bold;
    text-transform: capitalize;
    background-color: rgba(32, 87, 175, 0.582);
    font-size: 30px;
}

.main-form{ /*Decor/background style */
    position: absolute;
    background-color: rgba(100, 151, 233, 0.881);
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 100px;
    font-size: 30px;
    border-radius: 6%;
    width: 900px;
    top: 1000px;
    
    
}


.image1 { /* first image */
    margin-left: 1390px; 
    width: 25%; 
    margin-right:480px;
    
}
  
.image1 img {
    height: auto;
    margin-top: 130px;
    width: 980px;  
    height: 700px;
    left: 19px;
    
}
.TitleResult{
    position: absolute;
    font-size: 50px;
    background-color:  rgba(85, 133, 210, 0.881);
    left: 1671px;
    margin-top: 80px;
    padding: 20px;
    border-radius: 20px;

}